{% load i18n static %}

<!DOCTYPE html>
<html>

<head>
  {% block head %}

  {% block meta %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="robots" content="NONE,NOARCHIVE" />
  {% endblock %}

  <title>{% block title %}{% if name %}{{ name }} – {% endif %}Django musician{% endblock %}</title>

  {% block style %}
  {% block bootstrap_theme %}
  <link rel="stylesheet" type="text/css" href="{% static "musician/css/bootstrap.min.css" %}" />
  {% endblock %}

  <link rel="stylesheet" type="text/css" href="{% static "musician/css/default.css" %}" />
  {% if code_style %}<style>
    {{ code_style }}
  </style>{% endif %}
  {% endblock %}

  {% endblock %}
</head>

{% block body %}

<body class="{% block bodyclass %}{% endblock %}">
  <div class="wrapper">
    <nav id="sidebar" class="border-right pt-4">
      {% block sidebar %}
      {# <!-- branding --> #}
      <h3>Pangea logotipo</h3>
      <h4>{{ version }}</h4>
      <div class="dropdown-divider"></div>
      {# <!-- services menu --> #}
      <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Domains & websites</a>
          </li>
      </ul>
      {# <!-- user profile menu --> #}
      <div class="dropdown-divider mt-5"></div>
      <ul class="nav flex-column">
          <li class="nav-item">
              <a href="#profile" class="nav-link">{{ user.username }} <img alt="user-profile-picture" src="{% static "musician/img/default-profile-picture.png" %}" /></a>
          </li>
          <div class="dropdown-divider"></div>
          <li class="nav-item">
            <a class="nav-link" href="#logout">{% trans 'Log out' %}</a>
          </li>
        </ul>
    
    </ul>

      {% endblock sidebar %}
    </nav><!-- ./sidebar -->
    <div id="content" class="container-fluid pt-4">
        {% block content %}   
        {% endblock content %}
    </div><!-- ./content -->
  </div><!-- ./wrapper -->

  {% block script %}
  <script src="{% static "musician/js/jquery-3.3.1.slim.min.js" %}"></script>
  <script src="{% static "musician/js/popper.min.js" %}"></script>
  <script src="{% static "musician/js/bootstrap.min.js" %}"></script>
  {% endblock %}

</body>
{% endblock %}

</html>
