{% extends "musician/base.html" %}
{% load i18n %}

{% block content %}

<h2>{% trans "Welcome back" %} <strong>{{ profile.username }}</strong></h2>
<p>{% blocktrans with last_login=profile.last_login|default:"N/A" %}Last time you logged in was: {{ last_login }}{% endblocktrans %}</p>

<div class="card-deck">
  {% for resource, usage in resource_usage.items %}
  <div class="card resource-usage resource-{{ resource }}">
    <div class="card-body">
      <h5 class="card-title">{{ usage.verbose_name }}</h5>
      {% include "musician/components/usage_progress_bar.html" with detail=usage %}
    </div>
  </div>
  {% endfor %}
  <div class="card resource-usage resource-notifications">
    <div class="card-body">
      <h5 class="card-title">{% trans "Notifications" %}</h5>
      {% for message in notifications %}
      <p class="card-text">{{ message }}</p>
      {% empty %}
      <p class="card-text">{% trans "There is no notifications at this time." %}</p>
      {% endfor %}
    </div>
  </div>
</div>


<h1 class="service-name">{% trans "Your domains and websites" %}</h1>
<p class="service-description">Little description of what to be expected...</p>

{% for domain in domains %}
<div class="card service-card">
  <div class="card-header">
    <div class="row">
      <div class="col-md">
        <strong>{{ domain.name }}</strong>
      </div>
      <div class="col-md-8">
        {% trans "view configuration" %} <strong class="fas fa-tools"></strong>
      </div>
      <div class="col-md text-right">
          {% trans "Expiration date" %}: <strong>{{ domain.expiration_date|date:"SHORT_DATE_FORMAT" }}</strong>
      </div>
    </div>
  </div><!-- /card-header-->
  <div class="card-body row text-center">
      <div class="col-md-2 border-right">
          <h4>{% trans "Mail" %}</h4>
          <p class="card-text"><i class="fas fa-envelope fa-3x"></i></p>
          <p class="card-text text-dark">
            3 mail addresses created<br/>
            <span class="text-warning">1 mail address left</span>
          </p>
      </div>
      <div class="col-md-2 border-right">
          <h4>{% trans "Mail list" %}</h4>
          <p class="card-text"><i class="fas fa-mail-bulk fa-3x"></i></p>
      </div>
      <div class="col-md-2 border-right">
          <h4>{% trans "Databases" %}</h4>
          <p class="card-text"><i class="fas fa-database fa-3x"></i></p>
          <p class="card-text text-dark">
            1 database created<br/>
            20 MB of 45MB
          </p>
      </div>
      <div class="col-md-2 border-right">
          <h4>{% trans "Software as a Service" %}</h4>
          <p class="card-text"><i class="fas fa-fire fa-3x"></i></p>
          <p class="card-text text-dark">Nothing installed</p>
      </div>
      <div class="col-md-4">
          <h4>{% trans "Disk usage" %}</h4>
          <p class="card-text"><i class="fas fa-hdd fa-3x"></i></p>
          <div class="w-75 m-auto">
          {% include "musician/components/usage_progress_bar.html" with detail=domain.usage %}
          </div>
      </div>
  </div>
</div>

{% endfor %}

{% endblock %}
