{% extends "musician/base.html" %}
{% load i18n %}

{% block content %}

<h2>{% trans "Welcome back" %} <strong>{{ profile.username }}</strong></h2>
<p>{% blocktrans with last_login=profile.last_login|default:"N/A" %}Last time you logged in was: {{ last_login }}{% endblocktrans %}</p>

<div class="card-deck">
  {% for resource, usage in resource_usage.items %}
  <div class="card resource-usage resource-{{ resource }}">
    <div class="card-body">
      <h5 class="card-title">{{ usage.verbose_name }}</h5>
      {% include "musician/components/usage_progress_bar.html" with detail=usage %}
    </div>
  </div>
  {% endfor %}
  <div class="card resource-usage resource-notifications">
    <div class="card-body">
      <h5 class="card-title">{% trans "Notifications" %}</h5>
      {% for message in notifications %}
      <p class="card-text">{{ message }}</p>
      {% empty %}
      <p class="card-text">{% trans "There is no notifications at this time." %}</p>
      {% endfor %}
    </div>
  </div>
</div>


<h1 class="service-name">{% trans "Your domains and websites" %}</h1>
<p class="service-description">Little description of what to be expected...</p>

{% for domain in domains %}
<div class="row border mt-4">
  <div class="col-12 bg-light">
    <h3>{{ domain.name }}</h3>
  </div>
  {% for service in "123"|make_list %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{% cycle 'Mail' 'Mailing list' 'Databases' %}</h5>
    </div>
    <img class="card-img-bottom" src="..." alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
  {% endfor card %}
</div>
{% endfor %}
{% endblock %}
