{% extends "musician/base.html" %}
{% load i18n %}

{% block content %}

<h1>{{ service.verbose_name }}</h1>
<p>{{ service.description }}</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Mail address</th>
            <th scope="col"></th>
            <th scope="col">Type</th>
            <th scope="col">Type details</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in object_list %}
        <tr>
            <td>{{ obj.mail_address }}</td>
            <td>{{ obj.aliases|join:" , " }}</td>
            <td>{{ obj.type }}</td>
            <td>{{ obj.type_detail }}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% include "musician/components/table_paginator.html" %}
</table>
{% endblock %}
