{% extends "musician/base.html" %}
{% load i18n %}

{% block content %}

<h1 class="service-name">{{ service.verbose_name }}</h1>
<p class="service-description">{{ service.description }}</p>
<table class="table service-list">
    <thead class="thead-dark">
        <tr>
            <th scope="col">{% trans "Mail address" %}</th>
            <th scope="col">{% trans "Aliases" %}</th>
            <th scope="col">{% trans "Type" %}</th>
            <th scope="col">{% trans "Type details" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in object_list %}
        <tr>
            <td>{{ obj.mail_address }}</td>
            <td>{{ obj.aliases|join:" , " }}</td>
            <td>{{ obj.type|capfirst }}</td>
            <td>{{ obj.type_detail }}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% include "musician/components/table_paginator.html" %}
</table>
{% endblock %}
