a, a:hover, a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    color: rgba(0,0,0,.7);
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    padding: 20px 0;
}


#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar #user-avatar {
    border: 2px solid white;
    border-radius: 100%;
    padding: 1px;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

/** login **/
#body-login .jumbotron {
    background: #282532;/**#50466E;**/
}

#login-content {
    background:white;
    padding: 2rem;
}

#login-content input[type="text"].form-control,
#login-content input[type="password"].form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #8E8E8E;
}

#login-content .form-actions-no-box {
    margin-top: 6rem;
}

#login-footer {
    margin-top: 1.5rem;
    text-align: center;
}
#login-footer a {
    color: #FEFBF2;
}

#content {
    background: #ECECEB;
    color: #343434;
}

/** services **/
h1.service-name {
    
    font: Bold 26px/34px Roboto;
    margin-top: 3rem;
}

.service-description {
    
    font: 16px/21px Roboto;
}
.table.service-list {
    margin-top: 2rem;
    table-layout: fixed;
}
/** TODO update theme instead of overriding **/
.service-list thead.thead-dark th,
.service-card .card-header {
    background: rgba(80, 70, 110, 0.25);
    color: #50466E;
    border-color: transparent;
}
/** /TODO **/
.table.service-list td,
.table.service-list th {
    vertical-align: middle;
}

.service-list thead.thead-dark th:first-of-type {
    border-top-left-radius: .25rem;
}

.service-list thead.thead-dark th:last-of-type {
    border-top-right-radius: .25rem;
}

.service-list tfoot td:first-of-type {
    border-bottom-left-radius: .25rem;
}

.service-list tfoot td:last-of-type {
    border-bottom-right-radius: .25rem;
}

.service-list tbody {
    background: white;
    color: #343434;
}

.service-list tfoot {
    background: white;
    color: #343434;
}

.service-list tfoot tr td {
    padding-top: 3rem;
}

.service-card {
    margin-bottom: 3rem;
}

.service-card .card-body h4 {
    color: #50466E;
    font-weight: bold;
}

.service-card .card-body {
    color: #787878;

}

.service-card .card-body i.fas {
    color:#9C9AA7;
}

.service-manager-link {
    position: absolute;
    bottom: 0px;
    right: 15px;
}

.service-card .service-manager-link a,
.service-card .service-manager-link a i.fas {
    color: white;
}

.service-card .card-body .service-brand i.fab {
    color: #9C9AA7;
}

.card.resource-usage {
    border-left: 5px solid #4C426A;
}

.card.resource-usage .progress {
    height: 0.5rem;
    margin-top: 0.75rem;
}

.card.resource-usage h5.card-title {
    position: relative;
}

.card.resource-usage h5.card-title:after {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    position: absolute;
    top: 0;
    right: 10px;

    color: #E8E7EB;
    font-size: 2em;
}

.card.resource-usage.resource-disk h5.card-title:after {
    content: "\f0a0";
    font-weight: 900;
}

.card.resource-usage.resource-traffic h5.card-title:after {
    content: "\f362";
    font-weight: 900;
}

.card.resource-usage.resource-mailbox h5.card-title:after {
    content: "\f0e0";
    font-weight: 900;
}

.card.resource-usage.resource-notifications h5.card-title:after {
    content: "\f0f3";
    font-weight: 900;
}
