a, a:hover, a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    color: rgba(0,0,0,.7);
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    padding: 20px 0;
}


#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar #user-avatar {
    border: 2px solid white;
    border-radius: 100%;
    padding: 1px;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

/** login **/
#body-login .jumbotron {
    background: #282532;/**#50466E;**/
}

#login-content {
    background:white;
    padding: 2rem;
}

#login-content input[type="text"].form-control,
#login-content input[type="password"].form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #8E8E8E;
}

#login-content .form-actions-no-box {
    margin-top: 6rem;
}

#login-footer {
    margin-top: 1.5rem;
    text-align: center;
}
#login-footer a {
    color: #FEFBF2;
}
