a, a:hover, a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    color: rgba(0,0,0,.7);
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    padding: 20px 0;
}


#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #777;
    background: #efefef;
}

/*#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}*/

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

/** bootstrap override **/
.btn-primary {
    color: #fff;
    background-color: #8DB823;
    border-color: #8DB823;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #acc862;
    border-color: #ccde98;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

/** login **/
#body-login .jumbotron {
    background: #282532;/**#50466E;**/
}

#login-content {
    background:white;
    padding: 2rem;
}

#login-content input[type="text"].form-control,
#login-content input[type="password"].form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #8E8E8E;
}

#login-content .form-actions-no-box {
    margin-top: 6rem;
}

#login-footer {
    margin-top: 1.5rem;
    text-align: center;
}
#login-footer a {
    color: #FEFBF2;
}
